:root {
	--teal-color: #04e2ff;
	--teal-background-color: #052932;
	--teal-text-glow: #0dd5f088;
	--teal-screen-glow: #053230;

	--orange-color: #ff7c01;
	--orange-background-color: #2b2621;
	--orange-text-glow: #f0550d88;
	--orange-screen-glow: #321305;
}

.theme-teal {
	--color: var(--teal-color);
	--background-color: var(--teal-background-color);
	--text-glow: var(--teal-text-glow);
	--screen-glow: var(--teal-screen-glow);
}
.theme-orange {
	--color: var(--orange-color);
	--background-color: var(--orange-background-color);
	--text-glow: var(--orange-text-glow);
	--screen-glow: var(--orange-screen-glow);
}

.CRT {
	position: relative;
  padding:2rem;
	/* padding-top: 50px; */
	height: 100%;
	background: var(--background-color);
	background-image: radial-gradient(ellipse, var(--screen-glow) 0%, #050505 90%);
  color: var(--color);
	text-shadow: 3px 0px 5px var(--text-glow), -3px 0px 5px var(--text-glow);
	border: none;
	border-radius: 3rem;
}
.CRT:after {
	content: " ";
	opacity: 0;
	background: #ffffff;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 3;
	border-radius: 3rem;
}
.CRT:before {
	content: " ";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: linear-gradient(
		to bottom,
		#1210101a 50%,
		#00000026 50%
	);
	background-size: 100% 8px;
	z-index: 2;
	pointer-events: none;
	border-radius: 3rem;
}
.scanline{
	display: none;
}
.CRT .scanline {
	display: block;
	width: 100%;
	height: 50px;
	z-index: 8;
	background: linear-gradient(
		0deg,
		rgba(0, 0, 0, 0) 0%,
		rgba(255, 255, 255, 0.4) 10%,
		rgba(0, 0, 0, 0.1) 100%
	);
	opacity: 0.1;
	position: absolute;
	top: 0%;
	animation: scanline 5s linear infinite;
}


@keyframes scanline {
	0% {
		top: 0px;
	}
	40% {
		top: 0px;
	}
	100% {
		top: calc(100% - 60px);
	}
}

.CRT::-webkit-scrollbar {
	width: 12px;               /* width of the entire scrollbar */
}
.CRT::-webkit-scrollbar-track {
	background: var(--background-color);        /* color of the tracking area */
	border-radius: 20px;
}
.CRT::-webkit-scrollbar-thumb {
  background-color: var(--color);    /* color of the scroll thumb */
	border-radius: 20px;       /* roundness of the scroll thumb */
	box-shadow: 3px 0px 5px var(--text-glow), -3px 0px 5px var(--text-glow);
	width: 10px
	
}