body {
  background-color: #b9b9b9;
  color: #aa1c1cfc;
  font-size: 20pt;
  font-family: 'Aurebesh English', sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
  max-width: 1200px;
}
h1, h2, h3 {
  font-weight: normal;
  text-align: center;
}
#intro {
  padding: 1rem;
}
#screen {
  margin:1rem;
}
#editText {
  min-height: 5rem;
}

.printer {
  width:8.5in;
  min-width:8.5in;
  height:11in;
  min-height:11in;
  max-height:11in;
  overflow-y: auto;
  overflow-x: hidden;
}
.printer #editText {
  height: 11in;
}

.banner {
  text-align: center;
  width: 10in;
  min-width: 10in;
  height:2.5in;
  min-height:2.5in;
  max-height:2.5in;
  overflow-y: auto;
  overflow-x: hidden;
}
.banner #editText {
  height: 2.5in;
}