* {
  box-sizing: border-box;
}

:root {
  --obody-background-color: #303030;
  --cbody-background-color: #fbfbfa;
  --secondary-color: #60b7bd;
  --grey-dark: #252525;
  --grey-med: #d0d0d0;
  --grey-light: #f0f0f0;
  
  --link-text-color: var(--cbody-background-color);
  --link-hover-text-glow-color: var(--secondary-color);
  --link-hover-img-glow:
      0 .4rem 0 var(--secondary-color),
      0 -.3rem 0 var(--secondary-color);
  --link-active-img-glow:
      0 .4rem 0 var(--secondary-color),
      0 -.3rem 0 var(--secondary-color);
}

.centered-body::before {
  display: table;
  content: "";
}
.centered-body {
  background-color: var(--cbody-background-color);
  max-width: 1012px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1.5rem !important;
  margin-bottom: 3rem !important;

  padding: 2rem 3rem !important;
  border-radius: .5rem;
  box-shadow: .2rem .2rem 1rem .2rem #10101088;
}
.centered-body::after {
  display: table;
  content: "";
  clear: both;
}


#demo-wrapper {  
  align-content: center;
  padding: 0;
  border-radius: .5rem;
  border-width: .2rem;
  border-style: solid;
  transition: .3s;
  border-color: #ffffff08;
  box-shadow: unset;
  overflow: hidden;
}
#demo-wrapper:hover {
  box-shadow: var(--link-hover-img-glow);
  border-color: var(--link-text-color);
}

#demo {
  margin-right: auto;
  margin-left: auto;
  align-self: center;
}

#link-header {
  display: block;
  margin: auto;
  text-align: justify;
}

a, li a h3 {
  background:
     linear-gradient(
       to bottom, var(--secondary-color) 0%,
       var(--secondary-color) 100%
     );
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: .2rem .2rem;
  color: var(--obody-background-color);
  text-decoration: none;
  transition: background-size .3s;
  width: fit-content;
  border-radius: unset;

}

a:hover, li a h3:hover {
  background-size: .2rem 100%;
  /* background-position: 0 100%; */
  color: var(--cbody-background-color);
  border-radius: unset;
}

body {
  display: block;
  font-family: D-Din Exp Regular, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.3rem;
  line-height: 1.5;
  word-wrap: break-word;
  background-color: var(--obody-background-color);
  color: var(--obody-background-color);
}
h1, h2, h4 {
  font-family: LEMON MILK Regular;
  font-weight: unset;
  display: block;
  width: 100%;
  padding-left: 0rem;
  padding-right: 1rem;
  border-width: 0;
  margin-bottom: 0;
  text-align: left;
  color: var(--obody-background-color);
}
h2, h4 {
  border-top-width: .2rem;
  border-right-width: .2rem;
  border-style: solid;
  border-color: var(--secondary-color);
  border-top-right-radius: .5rem;
}
h2:before, h4:before {
  content: " ";
  display:block;
  position: relative;
  z-index: 1;
  width: 20rem;
  max-width: 50vw;
  height: 0;
  top:-.6rem;
  bottom:-.6rem;
  background-color: var(--secondary-color);
  border: .3rem solid var(--secondary-color);
}
h1 + h3 {
  margin-top: 0;
}

h3 {
  background-color: var(--grey-dark);
  color: var(--cbody-background-color);
  font-weight: unset;
  font-size: 1.8rem;
  padding:.3rem .5rem;
  border-radius: 0 0 .5rem 0;
}

li h3 {
  background-color: unset;
  padding: 0;
  color: inherit;
  margin: 0;
}

img, iframe{
  max-width: 100%;
  box-sizing: content-box;
  border-radius: .5rem;
  transition: .15s;
  display:block;
  box-shadow: .1rem .1rem .5rem var(--grey-med);
}
a img {
  box-shadow: unset;
}
a:hover img {
  box-shadow: var(--link-hover-img-glow);
  border-color: var(--link-text-color);
}
a:active img {
  box-shadow: var(--link-active-img-glow);
}
ul img {
  display: inline;
}

td, li {
  padding: .5rem 1.5rem;
}
ul li {
  list-style-type: none;
}

ul {
  padding: 0;
}

li > ul {
  margin-top: .5rem;
  padding-left: 1.5rem;
}
li:nth-child(odd) {
  background-color: var(--grey-med);
}
li:nth-child(even) {
  background-color: var(--grey-light);
}
li:first-child {
  border-radius: .5rem .5rem 0 0;
}
li:last-child {
  border-radius: 0 0 .5rem .5rem;
}
li li:nth-child(odd) {
  background-color: unset;
}
li li:nth-child(even) {
  background-color: unset;
}
li li {
  box-shadow: unset;
  background-image: unset;
  border-width: 0;
  padding: 0;
  margin: 0;
  margin-top: .5rem;
  margin-bottom: .5rem;
  list-style-type: disc;
}

span, p {
  background-color: transparent;
}

span {
  white-space: nowrap;
}
table {
  table-layout: fixed;
  width: 100%;
  min-width: 312px;
}
td {
  align-content: center;
  text-align: center;
  font-size: 2rem;
}

span.ubese-boushh-text {
  white-space: normal;
}